<div class="" id="bb-default-template">
    <div class="default-info-icon icon-circle">
        <img src="../images/EmptyBox.png" alt="" />
    </div>
    <p>
        Your Building Block grid is empty! Start creating your first
        building blocks to put together a loop and conquer complexity
        simply and quickly with blue-loop.
    </p>
    <% if(creationPermission == true){ %> 
        <a href="/blueloop-backend/buildingBlock/create" id="default-empty-btn" class="btn btn-default btn-lg">
            New Building Block
        </a> 
    <% } %>
</div>
