<div class="" id="bb-main-view">
  <div class="" id="bb-grid-container">
      <div class="grid-topbar" id="bb-grid-topbar">
          <!-- grid topbar is rendered here -->
      </div>
        <!-- bbGridView is rendered here -->
  </div>
  <div class="" id="bb-panel-container">
        <!-- bbPanelElement view is rendered here -->
  </div>
</div>
