<div class="chat-elmnt-container">
	<div class="user-display-name">
		<img id="chat-pic" src="<%= path %>"/></i>
		<div id="chat-name"><%= chatName %></div>
	    <div id="chat-msg-count"><%= count %></div>
		<div id="group-chat-options">
			<a id="edit-chat"><i class="icon-pencil"></i></a>
			<a id="delete-chat"><i class="icon-close"></i></a>
	    </div>
	</div>
	
	<hr>
</div>