<div class="chat-elmnt-container">
	<div class="user-display-name">
	    <img id="chat-pic" src="<%= path %>"/>
		<div id="chat-status-icon"></div>
		<a id="display-name"><%= firstName %> <%= lastName %></a>
		<div id="chat-msg-count"><%= count %></div>
	</div>
	<hr>
	
</div>
