<section class="panel">
    <div class="panel-body progress-panel">
        <div class="task-progress">
            <h1><%=json.sequence.skusTitle1%></h1>
                <p><%=json.sequence.skusInstruction1%></p>
        </div>
    </div>
</section>

<div id="jstreeSkus" class="demo">
</div> 
<div> 
    <button id="SaveSkusBtn" type="button" class="btn btn-info" style='float:right;'><%= json.button.save %></button> 
</div>