<tr>
  <td>
    <img src="<%= path %>" alt="" class="ws-table-img" />
  </td>
  <td>
    <p><%= name %></p>
  </td>
  <td>
    <!-- <p id="ws-table-permissions">View <i class="fa fa-caret-down"></i></p>  -->
    <li id="ws-permissions-dropdown">
			<a  class="dropdown-toggle dropdown-closed" href="#">
				<span>
					View
				</span>
				<b class="caret"></b>
			</a>
		</li>
  </td>
  <td>
    <p><%= category %></p>
  </td>
  <td>
    <p id="status"><%= status %></p>
  </td>
  <td class="conn-actions">
    <a  class="conn-action-1"><i></i></a>
    <a  class="conn-action-2"><i></i></a>
  </td>
</tr>


<!-- <a href="#"><i class="icon-arrow-right-circle"></i></a>
<a href="#"><i class="icon-trash"></i></a> -->
