<div>
  <div id="bb-ws-content">
    <div class="ws-content" id="bb-ws-info-container">

    </div>
    <div class="ws-content" id="bb-ws-panel-container">
      <div class="table-responsive ws-table-responsive">
        <table class="table table-hover ws-table" id="ws-connections-table">
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                BB Name
              </th>
              <th>
                Tabs Shared
              </th>
              <th>
                Category
              </th>
              <th>
                Status
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div id="add_btn" class="circular-red-btn"><i class="" id="cross">+</i></div>
    </div>
  </div>
</div>
