<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forecast-wu" class="modal fade" >
	<div class="modal-dialog">
		 <div class="modal-content">
			 <div class="modal-header">
                 <button id="closeHeader" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><%= json.forecast.WUTitle %></h4>
           	 </div>
           	  <div class="modal-body">
           	  	<div class="panel-body">
                    <div class="task-progress" style="float:none;">
                        <h1>Working Units</h1>
                        <p>Add Working Units with Participants and Activities</p>
                    </div>
                    <div id="actContent" class="row" style="display:none;"></div>
                    <div id="memContent" class="row" style="display:none;"></div>
				    <div id="wuContent" class="row"></div>
           	  	</div>
           	  </div>
        	<div class="modal-footer">
        		<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal"><%= json.button.close %></button>
      		</div>
		 </div>
	</div>
</div>