<li class="list-primary">
    
    <i class=" fa fa-ellipsis-h"></i>
    
    <div class="task-title">
        <span class="task-title-sp"><%=bbName%></span>
        <div class="pull-right hidden-phone">
            <button class="btn btn-success btn-xs fa fa-chevron-circle-right addToSeq" title="<%=json.button.add%>"></button>
        </div>
    </div>
    
</li>