<li class="list-primary">
    
    <i class=" fa fa-ellipsis-v"></i>
    
    <div class="task-title">
        <span class="task-title-sp"><%= bbName %></span>
        <div class="pull-right hidden-phone">
                <button class="btn btn-success btn-xs fa fa-chevron-circle-left removeOfSeq" title="<%= json.button.remove %>"></button>
        </div>
    </div>
    
</li>