<section class="panel">
    <header class="panel-heading">
        <h2 class="center">Transfer the Building Blocks</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover" id="bb-table">
            <thead>
            <tr>
                <th width='20%'></th>
                <th width='40%'>BB</th>
                <th width='40%'>To User</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>