<section class="panel">
    <header class="panel-heading">
        <h2 class="center"><%=json.admin.deleteUser%></h2>
    </header>
    <div class="panel-body">
        <div class="img-container">
            <img src="/blueloop/static/images/removeUser.png">
        </div>
        <div class="textContent">
            To delete a user you need to first transfer all the objects associated like Building Blocks and Loops to another user, please click on Next button to continue.  
        </div>
    </div>
 </div>