<tr>
    <td><div><img id="" src="<%=image%>" style="border-radius: 50%;height: 36px;width: 36px;"></div></td>
    <td><div><%=chain%></div></td>
    <td><div><%=bb_name%></div></td>
    <td><div><%=act_name%></div></td>
    <td><div class="owner-select"></div></td>
</tr>