<section class="panel">
    <header class="panel-heading">
        <h2 class="center">Finish User Deletion</h2>
    </header>
    <div class="panel-body">
        <div class="img-container">
            <img src="/blueloop/static/images/risks.png">
        </div>
        <div class="textContent">
            Please review all the steps before finalizing user removal. After completing the process changes can not be undone. If you are comfortable with all the steps, please click on the Finish button. 
        </div>
    </div>
 </div>