<tr>
    <td><div><%= creationDate %></div></td>
    <td><div><%= observation %></div></td>
    <td><div><%= value %></div></td>
    <td><div><%= user %></div></td>
    <td>
        <div>
            <button id='editCollabAdjustment' class='btn btn-primary btn-xs'> 
                <i class='fa fa-pencil'></i>
            </button>
            <button id='deleteCollabAdjustment' class='btn btn-danger btn-xs'>
            	<i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>