<li class="animated fadeInLeft media">
    <a class="pull-right" href="#">
        <img class="media-object" height="48" width="48" alt="Generic placeholder image" src="<%= urlUserPic %>">
    </a>
    <div class="pull-right media-body chat-pop mod">
        <h4 class="media-heading">
            You
            <span class="pull-left">
                <abbr id="curr-time" class="timeago" title="<%= curr_time %>" >
                    <%= curr_time %>
                </abbr> 
                <i class="fa fa-clock-o"></i>
            </span>
        </h4>
        <%= message %>
    </div>
</li>