<div>
	<button id="backBtn" class="btn btn-default btn-sm" type="button">
		<i class="fa fa-reply"></i> <%= json.forecast.goForecast %>
	</button>
</div>
<div class="panel-body">
    <div id="tableInstancesContent" class="row"></div>
</div>
