<td>
    <div>
        <form id="nameInstanceForm" class="cmxform form-horizontal">
            <div class="form-group">
                <div class="col-lg-12">
                    <input id="nameInstance" type="text" class="form-control small" value="<%= name %>" required>
                </div>
                <label class="error" for="nameInstance" style="display:none">This field is required.</label>
            </div>
        </form>
    </div>
</td>
<td colspan="6"></td>
<td>
    <div>
        <button id='saveInstance' class='btn btn-primary btn-xs'>
            <i class='fa fa-floppy-o'></i>
        </button>
        <button id='cancelInstance' class='btn btn-danger btn-xs'>
            <i class='fa fa-times'></i>
        </button>
    </div>
</td>