<div id="user-ws-panel-content">
  <div class="ws-list-container" id="ws-loops-container">
    <!--loops userWSElementListView is rendered here-->
  </div>
  <hr>
  <div class="ws-list-container" id="ws-bbs-container">
    <!--bbs userWSElementListView is rendered here-->
  </div>
  <hr>
  <div class="ws-list-container" id="ws-contacts-container">
    <!--userWSContactListView is rendered here-->
  </div>
</div>
