<div class="" id="user-ws">
  <div class="tabbable-line">
    <!-- http://www.keenthemes.com/preview/metronic/theme/templates/admin/index_horizontal_menu.html -->
    <ul class="nav nav-tabs">
  		<li class="active">
  			<a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
  			Profile </a>
  		</li>
  	</ul>
  </div>
  <div id="user-ws-content">
    <div class="ws-content" id="user-ws-info-container">
      <!--userWSInfoView is rendered here-->
    </div>
    <div class="ws-content" id="user-ws-panel-container">
      <!--userWSPanelView is rendered here-->
    </div>
  </div>
</div>
