<div>
  <h3 class="ws-list-header" id="ws-contacts-header"></h3>
  <a class="ws-list-arrow ws-list-arrow-left hidden"><i class="icon-arrow-left"></i></a>
  <a class="ws-list-arrow ws-list-arrow-right hidden"><i class="icon-arrow-right"></i></a>
  <div class="ws-list" id="ws-contact-list">
      <!-- Contact elements are rendered here -->
  </div>
</div>
