<img width='20px' heigth='20px' src='<%= filePath %>' fileName='<%= fileName %>'>
<figcaption>
    <a id='imgFlowSelect' href='#modalActivityImg' data-toggle='modal' required><%= json.button.select %></a>
</figcaption>