<div>
    <table cellpadding='0' cellspacing='0' border='0' class='table table-striped table-hover table-bordered' id='tableForecastLinearVar' style='text-align: center'>
        <thead>
            <tr>
                <th class='center'>Date</th>
                <th class='center'>Observation</th>
                <th class='center'>Variation</th>
                <th class='center'>User</th>
                <th class='center action-column'><%= json.general.action %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="no-data-td" valign="top" colspan="5">No data available in table</td>
            </tr>
        </tbody>
    </table>
</div>
