<div class="form-horizontal tasi-form">
	<label class="control-label">Define roles to upload data</label>
	<br><br>

	<div class="col-md-3">
		<div class='row'>
			<h4 class='col-md-6' style="color:#39b5aa">Roles</h4>
			<div class='col-md-6'>
				<button id="addRole" class="btn btn-primary btn-sm" type="button" style="float:right;"><i class="fa fa-plus"></i> <%= json.button.add %> Role </button>
			</div>
			
		</div>
		
		<div class="task-content">
			<ul class="task-list ui-sortable" id='roleList'>					
			</ul>
		</div>
					
	</div>
	
	<div class="col-md-9" id='detailRole'>
			
	</div>
</div>
