<h4 id='titleRole'></h4>
<div style="border: 1px solid #CCCCCC; border-radius: 4px;margin-top: 10px;">
    <section class="panel">
         <header class="panel-heading tab-bg-dark-navy-blue" style="background-color: #bec3c7">
             <ul class="nav nav-tabs" id="ulNavTabs">
                 <li class="active" id="liRoleUsers">
                     <a data-toggle="tab" href="#roleUsers">User List</a>
                 </li>
                 <li class="" id="liRoleSkus">
                     <a data-toggle="tab" href="#roleSkus">SKU List</a>
                 </li>                                   
                 <li class="" id="liRoleFilter">
                     <a data-toggle="tab" href="#roleFilters">Filters</a>
                 </li>
             </ul>
         </header>
         <div class="panel-body">
            <div class="tab-content">
                <div id="roleUsers" class="tab-pane active"></div>
                <div id="roleSkus" class="tab-pane"></div>
                <div id="roleFilters" class="tab-pane"></div>							  	                 
            </div>
        </div>
    </section>
</div>