<li class="list-primary">
    <div class="content" title="" data-placement="top" data-toggle="tooltip" 
        data-original-title="<%= json.button.select %>"><%= name %></div>
    <div class="btns">
        <i class="fa fa-trash-o pull-right removeRole" title="" data-placement="top" data-toggle="tooltip" 
        data-original-title="<%= json.button.remove %>"></i>
        <i class="fa fa-pencil pull-right editRole" title="" data-placement="top" data-toggle="tooltip" 
        data-original-title="<%= json.button.edit %>"></i>
    </div>
</li>