<li class="list-primary">
	<div class="content">
		<input id="nameRole" class="form-control small" type="text" required="" value="">
	</div>
	<div class="btns">		
		<i class="fa fa-times pull-right cancelRole"></i>
		<i class="fa fa-floppy-o pull-right saveRole"></i>
	</div>
</li>