<svg id='bbRiskAlert<%= id %>' xmlns='http://www.w3.org/2000/svg' width='50' height='50'>
    <foreignObject width='100' height='50'>
        <body xmlns='http://www.w3.org/1999/xhtml'>
            <div class='bbRiskAlert' id='bbRiskAlert<%= id %>'></div>
        </body>
    </foreignObject>
</svg>