<tr>
    <td><div><%= description %></div></td>
    <td><div><%= creationDate %></div></td>
    <td>
        <div>
        	<button id='viewIPO' class='btn btn-primary btn-xs'>
                <i class='fa fa-search'></i>
            </button>
            <button id='editIPO' class='btn btn-primary btn-xs'>
                <i class='fa fa-pencil'></i>
            </button>
            <button id='deleteIPO' class='btn btn-danger btn-xs'>
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>