<div>

    <div class="adv-table" >
        <table class="table table-bordered table-striped table-hover" id="alert-table">
            <thead>
                <tr>
                    <th style='width:30%' class='center'><%= json.bbalerts.title %></th>
                    <th style='width:45%' class='center'><%= json.general.description %></th>
                    <th style='width:25%;' class='center'><%= json.general.action %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
     </div>
</div>