<tr>
    <td><div><%= title %></div></td>
    <td><div><%= description %></div></td>
    <td>
        <div>
            <button id='editAlert' class='btn btn-primary btn-xs' <%= disabled %> >
                <i class='fa fa-pencil'></i>
            </button>
            <button id='deleteAlert' class='btn btn-danger btn-xs' <%= disabled %> >
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>