<li class="list-primary">
	<i class=" fa fa-ellipsis-v"></i>	
	
	<div class="task-title">
		<input class="filterId" type="hidden" value="<%= id %>"/>
		<span class="task-title-sp" title="<%= name %>"><b>( <%= tag %> )</b> - <%= name %></span>                                            
	</div>
</li>