<label for="filterEquiv<%=unit%>" class="control-label">
	<input type="radio" name="chkFilterEquiv" class="chkFilter" value="<%=unit%>" id="filterEquiv<%=unit%>" <%if(isDefault){%>checked<%}%>>
	<%=unit%>
</label>