<div>
    <div class="task-progress" style="float:none;">
        <h1>3S Planning for <%= title %>:</h1>
        <p>Edit the variables of each SKU</p>
    </div>
    <br>
    <div id="3sFilter" class="row"></div>
    <br>
    <div id="3sTable" class="row"></div>
    <br>
</div>
