<div>
    <button id="backBtn" type="button" class="btn btn-default btn-sm">
        <i class="fa fa-reply"></i> <%= json.button.back %>
    </button>
    <br><br>
    <div id="tableContent"></div>
</div>