<div style="border: 1px solid #CCCCCC; border-radius: 4px;">
    <section class="panel">
         <header class="panel-heading tab-bg-dark-navy-blue">
             <ul class="nav nav-tabs" id="ulNavTabs">
                 <li class="active" id="liCategories">
                     <a data-toggle="tab" href="#categories">Categories</a>
                 </li>
                 <li class="" id="liSKUList">
                     <a data-toggle="tab" href="#skulist">SKU List</a>
                 </li>                                   
                 <li class="" id="liEquivalences">
                     <a data-toggle="tab" href="#equivalences">Equivalences</a>
                 </li>
                 <li class="" id="liRoles">
                     <a data-toggle="tab" href="#roles">Roles</a>
                 </li>
                 <li class="" id="liLinear">
                     <a data-toggle="tab" href="#linear">Linear Planning</a>
                 </li>
                 <li class="" id="li3s">
                     <a data-toggle="tab" href="#3s">3'S</a>
                 </li>
                 <li class="" id="liCollab">
                     <a data-toggle="tab" href="#collab">Collaborative Adjustments</a>
                 </li>
             </ul>
         </header>
         <div class="panel-body">
            <div class="tab-content">
                <div id="categories" class="tab-pane active"></div>
                <div id="skulist" class="tab-pane"></div>
                <div id="equivalences" class="tab-pane"></div>							  	 
                <div id="roles" class="tab-pane"></div>
                <div id="linear" class="tab-pane"></div>
                <div id="3s" class="tab-pane"></div>
                <div id="collab" class="tab-pane"></div>
            </div>
        </div>
    </section>
</div>