<div>
	<button id="backBtn" class="btn btn-default btn-sm" type="button">
		<i class="fa fa-reply"></i> <%= json.forecast.goForecast %>
	</button>
</div>
<div class="panel-body">
    <div class="page-title">
        <i class="fa fa-dot-circle-o" style=""></i>
        <h3> Plan for <span id="chainTitle"></span> - <span class="semi-bold" id="instanceTitle"></span>:</h3>
    </div>
    <div id="forecastInstContent" class="row"></div>
</div>
