<div class="" id="bb-ws">
  <div class="tabbable-line">
    <!-- http://www.keenthemes.com/preview/metronic/theme/templates/admin/index_horizontal_menu.html -->
    <ul class="nav nav-tabs">
  	
  	 
  	<!-- 
  	  <li class="active">
        <a class="tab" id="general-tab" href="#" data-toggle="tab" aria-expanded="true" >General</a>
      </li>
      <li>
  		<a class="tab" id="teamwork-tab" href="#" data-toggle="tab" aria-expanded="true">Teamwork</a>
  	  </li>
      <li>
  		<a class="tab" id="orders-tab" href="#" data-toggle="tab" aria-expanded="true">Orders</a>
  	  </li>
  	-->
  	
      <li class="active">
  		<a class="tab" id="connections-tab" href="#" data-toggle="tab" aria-expanded="true">Connections</a>
  	  </li>
  	  
  <!-- 
      <li>
  		<a class="tab" id="risks-tab" href="#" data-toggle="tab" aria-expanded="true">Risks</a>
  	  </li>
      <li>
  		<a class="tab" id="calendar-tab" href="#" data-toggle="tab" aria-expanded="true">Calendar</a>
  	  </li>
      <li>
  		<a class="tab" id="io-tab" href="#" data-toggle="tab" aria-expanded="true">Input/Output</a>
  	  </li>
      <li>
  		<a class="tab" id="oparams-tab" href="#" data-toggle="tab" aria-expanded="true">Op. Parameters</a>
  	  </li>
      <li>
  		<a class="tab" id="files-tab" href="#" data-toggle="tab" aria-expanded="true">Attachments</a>
  	  </li>
      <li>
  		<a class="tab" id="data-tab" href="#" data-toggle="tab" aria-expanded="true">Data</a>
  	  </li>
  	-->
  	</ul>
  </div>
  <div id="bb-ws-container">

  </div>
</div>
