<div>
<span class="alertCounter" style="display:none;"><%= totalAlerts %></span>
<i class='fa fa-exclamation-triangle popovers' style='font-size:20px; color:#fcb322;'  id='popoverAlert<%= id %>' ></i>
</div>
            
