<svg id='bbGeneralAlert<%= id %>' xmlns='http://www.w3.org/2000/svg' width='50' height='50'>
    <foreignObject width='50' height='50'>
        <body xmlns='http://www.w3.org/1999/xhtml'>
            <div class='bbGeneralAlert' id='bbGeneralAlert<%= id %>'></div>
        </body>
    </foreignObject>
</svg>