<div class="" id="people-main-view">
  <div class="" id="people-grid-container">
      <div class="grid-topbar" id="people-grid-topbar">
          <!-- grid topbar is rendered here -->
      </div>
        <!-- peopleGridView is rendered here -->
  </div>
</div>