<div class="row">
	 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		 	<form class="grid-search" id="search-box">
		 	    <i class="icon-magnifier"></i>
		    	<input type="search" placeholder="Search">
	        </form>
	 	</div>
	 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	 		<ul class="grid-navbar pull-right" id="filter">
				<li class="grid-nav-dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span id="connection-filter">All</span>
						<b class="caret"></b>
					</a>
					<ul id="filter-connections">
					    <li id="filter-all">All</li>
						<li id="filter-conn">Connected</li>
						<li id="filter-noconn">Not Connected</li>
						<li id="filter-pending">Pending</li>
					</ul>
				</li>

	 		</ul>
	 	</div>
</div>
