<div class="borderedPanel">
    <section class="panel">
         <header class="panel-heading">
             <h2><%= json.sequence.noSequenceTitle %></h2>
         </header>
         <div class="panel-body">
         
            <div class="iconDiv">
                <i class='roundIcon fa fa-sitemap'></i>
            </div>
             
            <div>
                 <div class="textContent">
                    <%= json.sequence.noSequenceText %>                   
                 </div>
                 <div> 
                    <button id="GoToAddSeqBtn" type="button" class="btn btn-info"><%= json.sequence.noSequenceBtn %></button> 
                 </div>
            </div>
            
        </div>
    </section>
</div>