<div class="content">
	<input id="nameSeq" class="form-control small" type="text" required="" value="<%= description %>">
</div>
<div class="btns">		
    <button id='cancelSeq' class='btn btn-danger btn-xs pull-right' title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.cancel %>">
        <i class='fa fa-times'></i>
    </button>   
    <button id='saveSeq' class='btn btn-primary btn-xs pull-right' title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.save %>">
        <i class='fa fa-floppy-o'></i>
    </button>   
</div>
