<h4 id='titleSeq'></h4>
<div style="border: 1px solid #CCCCCC; border-radius: 4px;margin-top: 10px;">
    <section class="panel">
         <header class="panel-heading tab-bg-dark-navy-blue" style="background-color: #bec3c7">
             <ul class="nav nav-tabs" id="ulNavTabs">
                 <li class="active" id="liSeqDefinition">
                     <a href="#seqDefinition"><%= json.sequence.tab1 %></a>
                 </li>
                 <li class="" id="liSeqSkus">
                     <a href="#seqSkus"><%= json.sequence.tab2 %></a>
                 </li>
             </ul>
         </header>
         <div class="panel-body">
            <div class="tab-content">
                <div id="seqDefinition" class="tab-pane active"></div>
                <div id="seqSkus" class="tab-pane"></div>							  	                 
            </div>
        </div>
    </section>
</div>