<li class="list-primary">
    <div class="content" title="" data-placement="top" data-toggle="tooltip" 
        data-original-title="<%= json.button.select %>"><%= description %></div>
    <div class="btns">
        <button id='removeSeq' class='btn btn-danger btn-xs pull-right' title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.remove %>">
            <i class='fa fa-trash-o'></i>
        </button>
        
        <button id='editSeq' class='btn btn-primary btn-xs pull-right' title="" data-placement="top" data-toggle="tooltip" data-original-title="<%= json.button.edit %>">
            <i class='fa fa-pencil'></i>
        </button>
    </div>
</li>