<svg style='<%= style %>' id='bbOrderAlert<%= id %>' xmlns='http://www.w3.org/2000/svg' x='40' width='50' height='50'>
    <foreignObject width='50' height='50'>
        <body xmlns='http://www.w3.org/1999/xhtml'>
            <div class='bbOrderAlert' id='bbOrderAlert<%= id %>'></div>
        </body>
    </foreignObject>
</svg>
