<div class="item-container col-lg-3 col-md-3 col-sm-3 col-xs-4">
	<div class="grid-item">
		<div class="user-hover-mark">
			<div id="mark-transition">
				<a id="select-btn" class="btn btn-default">Select</a>
			</div>
		</div>
		<img src="<%= path %>" alt="<%= name %>" class="grid-item-pic"/>
		<div class="grid-item-description">
		<h4><%= name %></h4>
	    <p>created by: <%= ownerName %></p>
		</div>
	</div>
</div>
