<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="newConnectionModal" class="modal fade">
    <div class="modal-dialog" id="bb-connections-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" id="title-modal">Create New Connection</h4>
            </div>
            <div class="modal-body">
              <br>
              <div  id="modal-selection-container">
                <!--modal selected element is rendered here-->
              </div>
              <div class="row" id="modal-bb-grid">
                <div class="form-group" style="display:inline-block; width: 100%">
  								 <input id="searchAllBB" class="form-control" type="text" placeholder="Search" value="" style="float:left;width: 100%">
  					    </div>
                <!--modal grid elements are rendered here-->
              </div>
              <br>
            </div>
            <div class="modal-footer" id="modal-footer-btns">

            </div>
        </div>
    </div>
</div>
