<div>
    <div class="task-progress" style="float:none;">
        <h1>Linear Planning for <%= title %>:</h1>
        <p>Change the SKU varations</p>
    </div>
    <br>
    <div id="linearFilter" class="row"></div>
    <br>
    <div id="linearTable" class="row"></div>
</div>
