<tr>
	<td><div><%= skuNumber %></div></td>
	<td><div><%= skuDescription %></div></td>
	<td><div><%= type %></div></td>
	<td>		
		<div>
			<button class="btn btn-primary btn-xs" id="addSKUToOrder">
				<i class="fa fa-plus"></i> <%= json.button.add %>
			</button>
		</div>
	</td>
</tr>
