<div>
    <table class='table table-bordered table-striped table-hover' id='tableAddSku'>
    	<thead>
    		<tr>
        		<th><%=json.forecast.skuPlanning.associateSku%></th>
    			<th><%=json.forecast.skuPlanning.associateDes%></th>
    			<th><%=json.forecast.skuPlanning.skuType%></th>
    			<th><%= json.general.action %></th>
    		</tr>
    	</thead
    </table>
</div>
