<div aria-hidden="true" aria-labelledby="myModalLabel" id="form-valve-tooltip" role="dialog" class="no-boxshadow formValveTooltip slide">
    <div class="modal-dialog">
        <div class="modal-content modal-boxshadow">
            <div class="modal-header">
                <button id ="closeModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Valve Activity</h4>
            </div>
            <div class="modal-body">
                <div class="drop-area">DROP HERE</div>
            </div>
        </div>
	</div>
</div>