<li class="gridliBbImg">
    <img id="idImgBB" class="fancybox-image" rel="group" href="<%=filePath%>" src="<%=filePath%>" alt=''>
    <caption>
        <input type="hidden" id="filePathSelectBBImg" value="<%=filePath%>"/>
        <input type="hidden" id="fileNameSelectBBImg" value="<%=fileName%>"/>
    </caption>
</li>