<div>
    <div class="adv-table" >
        <table class="table table-bordered table-striped table-condensed table-hover" id="sku-table" style="text-align: center">
            <thead>
                <tr>
                    <th class="center" width='30%'><%= json.sku.skuNumber %></th>
                    <th class="center" width='30%'><%= json.sku.skuDescription %></th>
                    <th class="center" width='20%'><%= json.sku.quantity %></th>
                    <th class="center" width='15%'><%= json.sku.unit %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
     </div>
</div>