<tr>
    <td><div><%= name %></div></td>
    <% if(status == 1){ %>
        <td><div>In Use</div></td>
    <% } else { %>
        <td><div>Not In Use</div></td>
    <% } %>
    <td>
        <div>
            <button id='editSubCat' class='btn btn-primary btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.forecast.tooltips.editSubCat %>">
                <i class='fa fa-pencil'></i>
            </button>
            <button id='deleteSubCat' class='btn btn-danger btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.forecast.tooltips.deleteSubCat %>">
                <i class='fa fa-trash-o'></i>
            </button>
        </div>
    </td>
</tr>
