<tr>
    <td>
        <div>
            <form id="nameSubCatForm" class="cmxform form-horizontal">
                <div class="form-group">
                    <div class="col-lg-12">
                        <input id="nameSubCat" type="text" class="form-control small" value="" required>
                    </div>
                    <label class="error" for="nameSubCat" style="display:none">This field is required.</label>
                </div>
            </form>
        </div>
    </td>
    <td>
        <div>
            <select class="form-control small" id="status">
                <option value="INUSE">In Use</option>
                <option value="NOTINUSE">Not In Use</option>
            </select>
        </div>
    </td>
    <td>
        <div>
            <button id='saveSubCat' class='btn btn-primary btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.button.save %>">
                <i class='fa fa-floppy-o'></i>
            </button>
            <button id='cancelSubCat' class='btn btn-danger btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.button.cancel %>">
                <i class='fa fa-times'></i>
            </button>
        </div>
    </td>
</tr>