<div>
    <table cellpadding='0' cellspacing='0' border='0' class='table table-striped table-hover table-bordered' id='tableForecastCat' style='text-align: center'>
        <thead>
            <tr>
                <th class='center'>Select</th>
                <th class='center'>Name</th>
                <th class='center'>Status</th>
                <th class='center'><%= json.general.action %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="no-data-td" valign="top" colspan="4">No data available in table</td>
            </tr>
        </tbody>
    </table>
</div>
