<div aria-hidden="true" aria-labelledby="dialogheader" role="dialog" tabindex="-1" id="proceedOrdersModal" class="modal fade" >
    <div id ="myModal-dialog" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" id="closeFormOrders" type="button">×</button>
                <h4 class="modal-title" id="dialogheader"><%= json.order.bbOrders %></h4>
            </div>
            <div class="modal-body">
                <div id="ordersFormContainer" style="padding: 15px;">
                    <div class='row'>
                        <div class='col-lg-12'>
                            <section class='panel'>
                                <div class='adv-table editable-table'>
                                    <div class='space15'></div>
                                    <div id='tableCbbOrders'>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>