<div id="content">
    <div id="actHeader" class="row">
        <div class="col-lg-2">
            <strong>Status</strong>
        </div>
        <div class="col-lg-4">
            <strong>Activity</strong>
        </div>
        <div class="col-lg-4">
            <strong>Responsible</strong>
        </div>
    </div>
    <hr>
    <div id="instActContent" class="row"></div>
</div>