<div class="cd-panel from-right" id="notif-panel">
	<div class="cd-panel-header">
		<p>Notifications</p>
		<a href="#0" class="cd-panel-close icon-close" id="close-panel"></a>
	</div>
	<div class="cd-panel-container">
		<div class="cd-panel-content">
			<ul></ul>
		</div> <!-- cd-panel-content -->
	</div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->