<div id="bb-ws-content">
  <div id="bb-ws-content">
    <div class="ws-content" id="bb-ws-info-container">
      <!-- left panel bb info rendered here -->
    </div>
    <div class="ws-content" id="bb-ws-panel-container">
      <!-- right panel -->
      <div class="ws-panel-header">
          <h2>Tab by tab</h2>
          <p>
            Create your building block, connect with other ones, select teamwork
            and set it up to your requirements.
          </p>
      </div>
      <div class="row">
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/teamwork.png" alt="" />
            </div>
            <h4>Teamwork</h4>
            <p>
              Select a team that will have access to your BB
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/orders.png" alt="" />
            </div>
            <h4>Orders</h4>
            <p>
              Keep track of orders that go through your BB
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/connections.png" alt="" />
            </div>
            <h4>Connections</h4>
            <p>
              Connect to other BBs to create networks
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/files.png" alt="" />
            </div>
            <h4>Files</h4>
            <p>
              Upload files to share with your teamwork
            </p>
          </div>
  </div>
    <div class="row">
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/risks.png" alt="" />
            </div>
            <h4>Risks</h4>
            <p>
              Set up risks to prevent delays and problems along the way
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/calendar.png" alt="" />
            </div>
            <h4>Calendar</h4>
            <p>
              Set downtimes, opening hours, maintenance, etc.
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/activities.png" alt="" />
            </div>
            <h4>Activities</h4>
            <p>
              Set input and output activities of yout BB
            </p>
          </div>
          <div class="ws-panel-category col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="ws-pic ws-element-pic offset1">
              <img src="../../images/data.png" alt="" />
            </div>
            <h4>Data</h4>
            <p>
              Feed data to your BB, inventory, sales or anything else
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
