<tr>
    <td>
        <div>
            <form id="nameActForm" class="cmxform form-horizontal">
                <div class="form-group">
                    <div class="col-lg-12">
                        <input id="nameAct" type="text" class="form-control small" value="" required>
                    </div>
                    <label class="error" for="nameAct" style="display:none">This field is required.</label>
                </div>
            </form>
        </div>
    </td>
    <td>
        <div>
            <a id="chooseActImg" href="#">Select</a>
            <input id="imgUrlAct" type="text" class="form-control small" value="Icon1.png" style="display:none;">
        </div>
    </td>
    <td>
        <div>
            <button id='saveAct' class='btn btn-primary btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.button.save %>">
                <i class='fa fa-floppy-o'></i>
            </button>
            <button id='cancelAct' class='btn btn-danger btn-xs' title="" data-placement="top" data-toggle="tooltip" 
                data-original-title="<%= json.button.cancel %>">
                <i class='fa fa-times'></i>
            </button>
        </div>
    </td>
</tr>