<section class="panel">
    <header class="panel-heading">
        <h2 class="center"><%=json.flowActivities.step1_title%></h2>
    </header>
    <div class="panel-body">
        <div class="textContent">
            <h5><%=json.flowActivities.step1_subtitle%></h5>  
        </div>
        <div class="col-lg-12">
            <div style="text-align: center;">
                <img style="border: 1px solid #eff2f7;" src="/blueloop/static/images/imgInitFlow.png">
            </div>
        </div>
    </div>
</section>