<section class="panel">
    <div class="panel-body">
        <div class="row row_margin">
            <div class="div_btn">
                <img style="height: 103px;" src="/blueloop/static/images/canvas/done.png">
            </div>
        </div>
        <div class="row row_margin">
            <div class="textContent">
                <h5><%=json.flowActivities.step4_title%></h5>
            </div>
        </div>
        <div class="row row_margin">
            <div class="div_btn">
                <button class="btn btn-info done"><%=json.flowActivities.step4_btn%></button>
            </div>
        </div>
    </div>
</section>