<div class="page-title"></div>
<div class='row'>
    <div class='col-lg-12'>
        <section class='panel'>
            <div id="teamWorkList">
                <div class="adv-table">
                    <table class="table table-bordered table-striped table-hover" id="twTable">
                        <thead>
                            <tr>
                                <th width='10%' class="center"></th>
                                <th width='30%' class="center"><%= json.teamwork.name %></th>
                                <th width='30%' class="center"><%= json.teamwork.assignedTo %></th>
                                <th width='30%' class="center"><%= json.teamwork.action %></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>				
</div>