<div class="row">
    <h2>Plans</h2>
    <div class="col-lg-12 center plan-content">

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/user.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Plan Silver</h1>
                    <hr>
                    <h4>50 Active Users</h4>
                    <br>
                    <button id="silverBtn" type="button" class="btn btn-white">Get this Plan</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/group.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Plan Gold</h1>
                    <hr>
                    <h4>100 Active Users</h4>
                    <br>
                    <button id="goldBtn" type="button" class="btn btn-white">Get this Plan</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/teamwork.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Plan Platinum</h1>
                    <hr>
                    <h4>250 Active Users</h4>
                    <br>
                    <button id="platinumBtn" type="button" class="btn btn-white">Get this Plan</button>
                </div>
            </div>
        </div>
        
    </div>
    
    <h2>Add-Ons</h2>
    <div class="col-lg-12 center addon-content">

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/loop.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Loops</h1>
                    <hr>
                    <h4>5 users can create Loops</h4>
                    <h4>Amount: $20</h4>
                    <br>
                    <button id="silverBtn" type="button" class="btn btn-white">Go to User Accounts</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/home/buildingBlock.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Building Blocks</h1>
                    <hr>
                    <h4>10 users can create Building Blocks</h4>
                    <h4>Amount: $20</h4>
                    <br>
                    <button id="goldBtn" type="button" class="btn btn-white">Go to User Accounts</button>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/forecast.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Forecast</h1>
                    <hr>
                    <h4>5 users can create Forecast</h4>
                    <h4>Amount: $5</h4>
                    <br>
                    <button id="platinumBtn" type="button" class="btn btn-white">Go to User Accounts</button>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6 col-content">
            <div class="content-top">
                <div class="img-container">
                    <img src="/blueloop-backend/static/images/bluemonitor.png">
                </div>
            </div>
            <div class="content-bottom">
                <div class="leyend">
                    <h1>Bluemonitor</h1>
                    <hr>
                    <h4>5 users can upload files</h4>
                    <h4>Amount: $10</h4>
                    <br>
                    <button id="platinumBtn" type="button" class="btn btn-white">Go to User Accounts</button>
                </div>
            </div>
        </div>
        
    </div>
</div>