<div class="adv-table" >
    <table class="table table-bordered table-striped table-hover" id="inventory-table">
        <thead>
        <tr>
            <th width='20%'>SKU</th>
            <th width='20%'>Description</th>
            <th width='15%'>Warehouse</th>
            <th width='15%'>Center</th>
            <th width='15%'>Quantity</th>
            <th width='15%'>Units</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
 </div>