<div class="modal fade" id="modalSelectFile" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><%=json.blueMonitor.modalTitle%></h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <header class="panel-heading"> <%=json.blueMonitor.chooseFile%> </header>
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data" id="formUploadInventory" class="form">
                            <div class="form-group">
                                <input type="file" id="inputFileInventory" name="inputFileInventory" src="">
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <button id="selectFile" class="btn btn-white" type="button" style="float:right;">
                            <%=json.button.upload%>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>