<div id="forecastContent" class="panel-body">
    <div id="tableContent" class="row"></div>
    <% if(forecastPermission == true) { %>
        <button id="addModelType" type="button" class="btn btn-primary"><%= json.forecast.addModelType %></button>
    <% } %>
</div>