<div class="form-group">
	<p><input id="search-forecast" class="form-control" type="text" placeholder='<%= json.forecast.search %>' value=""></p>																																																							
</div>
<div id="forecastContent" class="panel-body">
    <div id="tableContent" class="row"></div>       
</div>