<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forecast-uploadData" class="modal fade" >
	<div class="modal-dialog">
		 <div class="modal-content">
			 <div class="modal-header">
                 <button id="closeHeader" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><%= "Upload Data of forecast historical" %></h4>
           	 </div>
           	 <form method="post" enctype="multipart/form-data" id="formUpload">
           	  <div class="modal-body">
           	  	<div class="panel-body">
                   <div id="loadFormContent" class="col-lg-12">
                   
                   <section class="">
						<div class="panel-body progress-panel">
							<div class="task-progress">
								<h1>Choose a file:</h1>
							</div>
						</div>
					</section>
					
                   <input id="idForecast" name="idForecast" type="text" value="<%= idForecast%>" style="display: none;">
                   
                   <div style="display: inline-block;float: left" class="xfile-button ">
	        			<div class="xfile-button btn">
	            			<input type="file" id="inputFile" name="inputFile" src="">
	        			</div>
    				</div>

                   
                   </div>
           	  	</div>
           	  </div>
        	<div class="modal-footer">
        		<button id="uploadHistoricalFile" type="button" class="btn btn-default"><%= "Upload" %></button>
        		<button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal"><%= json.button.close %></button>
      		</div>
      		</form>
		 </div>
	</div>
</div>