<tr>
	<td><div><%= identifier %></div></td>
	<td><div><%= description %></div></td>
	<td><div><%= type %></div></td>
	<td>		
		<div>
			<button class="btn btn-primary btn-xs" id="addAssoSkuM">
				<i class="fa fa-plus"> Add </i>
			</button>
		</div>
	</td>
</tr>
