<div>
    <div class="task-progress" style="float:none;">
        <h1>Equivalences</h1>
        <p>Edit a equivalence of the specific SKU</p>
    </div>
    <br>
    <div id="equivalenceTable"></div>
    <br>
</div>
