<div class="dropdown">
    <a class="dropdown-toggle dropdown-closed">
        View
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu permissions-dropdown dropdown-invisible square-dropdown"></ul>
</div>
