<th class='center'>
    <div class="thTitle">
        <input id="nameNewFilter" class="form-control small" type="text" required="" value="">
    </div>
    <div class="thBtns">
        <i class="fa fa-times pull-right cancelNewFilter" title="" data-placement="top" data-toggle="tooltip" 
            data-original-title="<%= json.button.cancel %>"></i>
        <i class="fa fa-floppy-o pull-right saveNewFilter" title="" data-placement="top" data-toggle="tooltip" 
            data-original-title="<%= json.button.save %>"></i>
    </div>
</th>