<th class='center' id="filter<%= id %>">
    <div class="thTitle">
        <%= name %>
    </div>
    <div class="thBtns">
        <i class="fa fa-trash-o pull-right removeFilter" title="" data-placement="top" data-toggle="tooltip" 
            data-original-title="<%= json.button.delete %>"></i>
        <i class="fa fa-pencil pull-right editFilter" title="" data-placement="top" data-toggle="tooltip" 
            data-original-title="<%= json.button.edit %>"></i>
    </div>
</th>