<li> 
    <a>
        <span class="photo notification-icon purple">
            <i class="fa fa-th-large"></i>
        </span>
        <span class="subject">			
            <span class="time"><%= alertDate %></span>
            <span class="from"><%= alertName %></span>
        </span>
        <span class="message"><%= alertDescription %></span>
	</a>
    <a href="/blueloop/buildingBlock/connectBB" class="alertNotification btn btn-xs" id="<%= userId %>">Go</a>
</li>