<% if(type == "chatGroup"){ %>   
 	<button id="btnSaveEditGroup" class="btn btn-primary">Edit Chat</button>
	<button id="btnCancel" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
<% } %> 

<% if(type == "chatLoop"){ %>   
 	<button id="btnSaveEditLoopChatGroup" class="btn btn-primary">Edit Chat</button>
	<button id="btnCancel" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
<% } %> 

<% if(type == "chatBB"){ %>   
 	<button id="btnSaveEditBBChatGroup" class="btn btn-primary">Edit Chat</button>
	<button id="btnCancel" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
<% } %> 