<tr>
	<td>
		<i class='fa fa-file-text'></i>
	</td>
	<td>
		<i class='faOPL' id='<%= id %>' onclick='editOPL(this)'><%= id %></i>
	</td>
	<td>
		<i class='btnFa fa fa-times pull-right' onclick='this.parentNode.parentNode.remove()'></i>
	    <i class='btnFa fa fa-pencil pull-right btnEditLesson' id='<%= id2 %>' onclick='editOPL(this)'></i>
	</td>
</tr>