<div class="col-lg-6">
	<a class="breadcrump active" href="/blueloop-backend/chain/list">
		<div class="panel">
			<div class="panel-body">
				<div class="bio-chart">
					<img width="123px" height="100px" src="<%= href %>" />
				</div>
				<div class="bio-desk">
					<h4 class="red"><%= description %></h4>
						<p>Loop Started: <%= startDate %></p>
						<p>Deadline: <%= estiDateFinish %></p>
				</div>
			</div>
		</div>
	</a>	
</div>
