<li>
	 <a>
		<span class="photo notification-icon yellow">
            <i class="fa fa-circle-o"></i>
         </span>
		<span class="subject">
			<span class="from"><%= alertName %></span>
		  	<span class="time"><%= alertDate %></span>
		</span>
		<span class="message"><%= alertDescription %></span>   
	</a>
    <a href="/blueloop-backend/chain/list" class="alertNotification" id="<%= userAlert %>">Go</a>  
</li>
