<div class="col-lg-6"> 
	<a class="breadcrump active" id="<%= id %>" style="cursor:pointer" href="/blueloop/teamwork/list">
		<div class="panel">
			<div class="panel-body">
				<div class="bio-chart">
					<img width="75px" height="75px"  src="/blueloop/static/images/btn_teamwork.png" />
				</div>
				<div class="bio-desk">
					<h4 class="red"><%= name %></h4>		
					<p><%= description %></p>
				</div>
			</div>
		</div>
	</a>
</div>	